* {
    box-sizing: border-box;
}

.width {
    width: 50%;
    min-width: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
    list-style-type: none;
}

.container > * {
    flex-grow: 1;
    border: 1px solid black;
    width: 18%;
    min-width: 100px;
    padding: 4px;
    
}

.spacing {
    display: flex;
    justify-content: space-between;
}